# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
obj
bin
appsettings.json
serviceaccountkey.json
node_modules
# Keep environment variables out of version control
.env
