@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@400&display=swap');


.profile-header-font {
color: #404040;
font-family: Rasa;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%;
text-transform: capitalize;
}

.profile-button-details {
  color: #404040;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
  }
  
  .note-title {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: bold;
    color: #2D3748; /* Corresponds to Tailwind's text-gray-800 */
  }
  